.fundo {
	background-color: #fff; /* DEFINE A COR DE FUNDO */
	height: 80%; /* DEFINE A ALTURA DO MEU BACKGROUND */
	width: 68%; /* DEFINE A LARGURA DO MEU BACKGROUND */
	margin: auto; /* DEFINE A MARGEM EXTERIOR DO MEU BACKGROUND */
	margin-top: 15px; /* DEFINE A MARGEM DO TOPO DO MEU BACKGROUND */
	padding: 29px; /* DEFINE A MARGEM INTERIOR DO MEU BACKGROUND */
	
}

section h2 {
	display: flex; /* DEFINE COMO CAIXA FLEXÍVEL */
	justify-content: center; /* DEFINE A CENTRALIZAÇÃO */
	font-size: 35px; /* DEFINE O TAMANHO DA FONTE */
	font-family: "Manuale"; /* DEFINE A FONTE DO TEXTO */
	color: #000; /* DEFINE A COR DO TEXTO */
	margin-bottom: 20px; /* DEFINE A MARGEM DE BAIXO */
	margin-top: 20px; /* DEFINE A MARGEM DO TOPO */
}

.cartaz {
	margin-top: 20px; /* DEFINE A MARGEM DO TOPO */
	margin-bottom: 20px; /* DEFINE A MARGEM DE BAIXO */
	justify-content: center; /* DEFINE A CENTRALIZAÇÃO */
	display: flex; /* DEFINE COMO CAIXA FLEXÍVEL */
}

.homepage {
	display: flex;
	justify-content: center;
}

/* RESPONSIVIDADE */

@media (max-width: 431px) {
	.fundo {
		margin: 0;
		padding: 15px;
		width: 100%;
	}

	section h2 {
		display: flex;
		justify-content: center;
		font-size: 23px;
		font-family: "Manuale";
		color: #000;
	}

	.cartaz img {
		width: 100%;
		height: auto;
		margin: 0;
	}

	#novidade {
		display: flex;
		flex-direction: row;
	}
}